header{
	background-color: #d5e1df;
}
#channelName1, #channelName2, #channelName3{
	width: 146px;
	height: 20px;
}
#channelNameButton{
	width: 150px;
	height: 25px;
}
ul{
	background-color: #d5e1df;
	text-align: center;
	
}
li{
	border-width:5px;  
    border-style:groove;
	display: inline-block;
	text-align:center;
	background-color: white;
}
.inputWindow{

	align: center;
}
.chatWindows{
	border-width:5px;  
    border-style:groove;
	display: inline-block;
}
.chatWindow1, .chatWindow2, .chatWindow3{
	width: 600px;
	display: inline-block;
	text-align:center;
	background-color: #d5e1df;
}
