header{
	background-color: yellow;
	
}
#channelName1, #channelName2, #channelName3{
	width: 146px;
	height: 20px;
}
#channelNameButton{
	width: 150px;
	height: 25px;
}
.inputs{
	border: solid green 1px;
}
.chatWindows{
	border: solid red 1px;
	display: flex;
}

